#titulo{
    color: #3498db;
    font-size: 36px; 
    font-family: sans-serif; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#hangman-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#word-display{
    font-size: 24px;
    margin-bottom: 20px;

}

#alphaber-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.letter-buttom{
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: antiquewhite;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.letter-buttom:disabled{
    background-color: beige;
    cursor: not-allowed;
}